<div class="projects-section">
    <div class="projects-section-header">
      <p>Movies in our database</p>
      <form class="search-wrapper" (ngSubmit)="onSearchMovies()">
        <input class="search-input" [(ngModel)]="searchTerm" name="s" type="text" placeholder="Search">
        <button  type="submit" style=" background-color: transparent; border-width: 0;" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
          <defs></defs>
          <circle cx="11" cy="11" r="8"></circle>
          <path d="M21 21l-4.35-4.35"></path>
        </svg>  
        </button>
</form>
    </div>
    <div class="bulk-controllers" *ngIf="selected.size != 0">
        <span>Control selected:</span>
        <button (click)="onDeleteMovies()" >Remove All</button>
            <!-- <button  style="margin-left:5%; padding:0 3%">Search</button> -->
      </div>
   
    <div class="projects-section-line">
      <div class="view-actions">
        <button class="view-btn list-view" title="List View">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
            <line x1="8" y1="6" x2="21" y2="6" />
            <line x1="8" y1="12" x2="21" y2="12" />
            <line x1="8" y1="18" x2="21" y2="18" />
            <line x1="3" y1="6" x2="3.01" y2="6" />
            <line x1="3" y1="12" x2="3.01" y2="12" />
            <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
        </button>
        <button class="view-btn grid-view active" title="Grid View">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
            <rect x="3" y="3" width="7" height="7" />
            <rect x="14" y="3" width="7" height="7" />
            <rect x="14" y="14" width="7" height="7" />
            <rect x="3" y="14" width="7" height="7" /></svg>
        </button>
      </div>
    </div>
    <!-- fee4cb -->
    <div class="project-boxes jsGridView">
        <div *ngFor="let movie of movies" class="project-box-wrapper">
            <div class="project-box" [ngClass]="{'selected-movie': selected.has(movie.imdbID)}"
                >
            <div class="project-box-header">
                <span>{{ movie.Year }}</span>
                <div class="more-wrapper">
                <button class="project-btn-more" *ngIf="isAdmin()" (click)="onSelectMovie(movie)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                    <circle cx="12" cy="12" r="5" [attr.fill]="selected.has(movie.imdbID) ? 'green' : ''" fill="green" />
                    <!-- <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" /> -->
                </svg>
                </button>
                </div>
            </div>
            <div class="project-box-content-header">
                <p class="box-content-header">{{ movie.Title }}</p>
                <p class="box-content-subheader">{{movie.Type}}</p>
            </div>
            <!-- <div class="box-progress-wrapper">
                <p class="box-progress-header">Progress</p>
                <div class="box-progress-bar">
                <span class="box-progress" style="width: 50%; background-color: #4f3ff0"></span>
                </div>
                <p class="box-progress-percentage">50%</p>
            </div> -->
            <div class="project-box-footer">
                
                <button class="days-left" *ngIf="isAdmin()" (click)="onRemoveMovie(movie)" style="color: #4f3ff0;">
                remove from database
                </button>
                <a  class="days-left" *ngIf="movie.id != undefined " (click)="navigateToMovie(movie.imdbID, movie.id)"  style="color: #09438f;">
                    View Details
                </a>
                
                
            </div>
            </div>
        </div>
</div>
<div class="page-manage">
    <button (click)="previousPage()" [disabled]="!hasPrevPage()">previous page</button>
    <button (click)="nextPage()" [disabled]="!hasNextPage()">next page</button>
</div>
</div>
