<p>login works!</p>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h3>Login Here</h3>

        <label for="email" >Email</label>
        <input type="text" placeholder="Email" id="username" name="email" [(ngModel)]="email" #emailI="ngModel" email
        required >
        <small *ngIf="passwordI.touched && (emailI.errors?.['email'] || emailI.errors?.['required'])">Please enter a valid email</small>


        <label for="password">Password</label>
        <input type="password"   id="password" [(ngModel)]="password" #passwordI="ngModel" name="password" required/>
        <small *ngIf="passwordI.errors?.['required'] && passwordI.touched">This field is required</small>
        <button [disabled]="!loginForm.valid">Log In</button>
        <div *ngIf="error" class="error-message">
          <p>{{ error.message }}</p>
        </div>
    </form>
